body {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(26, 25, 25);
}

.slide-container {
  width: 1200px;
  padding: 2rem 0rem;
  background-color: rgb(253, 236, 213);
  border-radius: 10px;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}
.slide:hover {
  will-change: transform;
}
.slide li {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.842);
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 1rem 20px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.5s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  background-color: rgb(0, 89, 255);
  border-radius: 50%;
  overflow: hidden;
  margin: 0.25rem;
  text-indent: -999px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: rgb(54, 1, 151);
}

.custom-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0px 0px 20px 0px;
}
.custom-controls li {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.custom-controls li:hover {
  opacity: 0.85;
  transform: scale(0.85);
}
.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
}
.arrow-nav button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  background: rgb(241, 153, 20) url('../img/arrow.svg') center center no-repeat;
  margin-top: 20px;
  background-size: 10px;
  transition: 0.25s;
}
.arrow-nav button.prev {
  transform: rotate(180deg);
}
.arrow-nav button:hover {
  background-color: rgb(209, 132, 16);
}
